<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Medicine</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>



<div class="well" style="margin:10px; width: fit-content;">
    <h3>Update Medicine</h3>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in " id="home">
        <form id="tab" >
            <label>Medicine ID</label>
            <input type="number" value="" class="input-xlarge">
            <label>Medicine Name</label>
            <input type="text" value="" class="input-xlarge">
            <label>New Quantity</label>
            <input type="number" value="" class="input-xlarge">
            <label>Supplier</label>
            <input type="text" value="" class="input-xlarge">
            <label>Purchase Date</label>
            <input type="date" value="" class="input-xlarge">
            <label>Expiry Date</label>
            <input type="date" value="" class="input-xlarge">
          	<div>
        	    <button class="btn btn-primary">Update</button>
        	</div>
        </form>
      </div>

  </div>

  <span style="font-size:18px; font-weight:bold;margin:0 auto;text-align:center;display:block;">Medicine Record</span>
  <br><br>
  <table style="margin-left:40px;">
    <tr>
      <th>Mid</th>
      <th>Name</th>
      <th>Type</th>
      <th>Purchase Date</th>
      <th>Expiry Date</th>
      <th>Supplier</th>
      <th>Usage</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Paracetamol</td>
      <td>Tablet </td>
      <td>21-11-2021</td>
      <td>16-10-2022</td>
      <td>Zeelab pharmacy</td>
      <td>Reduce fever </td>
      <td>250 </td>
    </tr>

    <tr>
      <td>2</td>
      <td>Paracetamol</td>
      <td>Tablet </td>
      <td>21-11-2021</td>
      <td>16-10-2022</td>
      <td>Zeelab pharmacy</td>
      <td>Reduce fever </td>
      <td>250 </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Paracetamol</td>
      <td>Tablet </td>
      <td>21-11-2021</td>
      <td>16-10-2022</td>
      <td>Zeelab pharmacy</td>
      <td>Reduce fever </td>
      <td>250 </td>
    </tr>

    <tr>
      <td>4</td>
      <td>Paracetamol</td>
      <td>Tablet </td>
      <td>21-11-2021</td>
      <td>16-10-2022</td>
      <td>Zeelab pharmacy</td>
      <td>Reduce fever </td>
      <td>250 </td>
    </tr>
  </table>
</body>
</html>
