<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Medicine</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>



<div class="well" style="margin:10px; width: fit-content;">
    <h3>Issue Medicine</h3>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in " id="home">
        <form id="tab" >
            <label>Patient</label>
            <input type="text" value="" class="input-xlarge">
            <label>Medicine Name</label>
            <input type="text" value="" class="input-xlarge">
            <label>Prescription</label>
            <input type="text" value="" class="input-xlarge">
            <label>Date</label>
            <input type="date" value="" class="input-xlarge">
          	<div>
        	    <button class="btn btn-primary">Issue</button>
        	</div>
        </form>
      </div>

  </div>
</body>
</html>
