<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
    


<div class="well" style="background-color: rgb(255, 255, 255);">
    <h3>Patient Profile</h3>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in " id="home">
        <form id="tab" >
            <label>Username</label>
            <input type="text" value="" class="input-xlarge">
            <label>Name</label>
            <input type="text" value="" class="input-xlarge">
            <label>Age</label>
            <input type="text" value="" class="input-xlarge">
            <label>Gender</label>
            <input type="text" value="" class="input-xlarge">            
          	<div>
        	    <button class="btn btn-primary">Update</button>
        	</div>
        </form>
      </div>
      
  </div>
</body>
</html>