<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/PatientHistory.css' %}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>View Medical Certificates</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size: 30px; margin-left: 30px">The LNM Institute of Information
                Technology</a>
            <!-- <a class="navbar-brand" href="#">The LNM Institute of Information Technology</a> -->
            <img src="{% static 'images/LOGO.png' %}" alt="LNMIIT" width="200">
        </div>
    </nav>
    <br>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <br>
    <h2 class="heading">LNM Medical Dispensary</h2>
    <div style="float: left; margin-left: 40px; font-size: 17px;">
        <a href="{% url 'doctor' %}">
            <button type="button" class="btn btn-secondary logoutclass">
                <span class="lgticon"><i class="fas fa-arrow-left"></i></span></i>Go Back
            </button>
        </a>
    </div>
    <div class="logoutclass">

        <span style="padding-right:50px; font-size:24px"><i class='fas fa-user' style='color:green'></i><span
                style="padding-right:10px; font-size:24px"></span> {{ user.username }} </span>
        <span></span>
        <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-danger logoutclass">
                <span class="lgticon"><i class="fas fa-sign-out-alt"></i></span></i>Logout
            </button>
        </a>
    </div>
    <br><br>
    <br>
    <div class="content">
        <div class="prescr">
            <br>
            <span
                style="font-size:18px; font-weight:bold;margin:0 auto;text-align:center;display:block;">Medical Certificate Requests</span>
            <br><br>
            <table style="margin-left:40px;">
                <tr>
                    <th>Sr. No</th>
                    <th>Patient</th>
                    <th>Reason</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                </tr>
                {% if MedCert %}
                {% for i in MedCert%}

                <tr>

                    <td>{{ forloop.counter }} </td>

                    <td>{{i.patient.name}}</td>
                    <td>{{i.reason}}</td>
                    <td>{{i.fromdate}}</td>
                    <td>{{i.todate}}</td>
                    <td>   
                        <form method="POST" action="http://127.0.0.1:8000/viewMedicalCertificate/">
                            {% csrf_token %}
                            
                            <button  type="submit" class="btn btn-success" data-dismiss="modal" name="Approve" value={{i.medicalID}} >Approve</button>
                            <button  type="submit" class="btn btn-danger" data-dismiss="modal" name="Reject"  value={{i.medicalID}}>Reject</button>
                           
                          </form>    
                    </td>

                </tr>
                {% endfor %}

                {% else %}
            </table>
            <span style="font-size:18px; font-weight:bold;margin:0 auto;text-align:center;display:block;">No
                Requests for Medical Certificates</span>
            {% endif %}

            </table>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">
        <div>
            <div class="add"> The LNM Institute of Information Technology, Jaipur</div>
            <div>Rupa ki Nangal, Post-Sumel, Via, Jamdoli, Jaipur, Rajasthan 302031</div>
        </div>
    </div>
</body>

</html>