body { 
    padding-top: 65px; 
}

.heading {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.logoutclass{
    float: right;
    margin-right:40px;
    font-size: 17px;
}

.lgticon{
    margin-right:10px;
}

.pc1{

}

.pc1lcm{
    width: 50%;
    float:left;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 250px; 
}

.pc1lc,.pc1rc{
    width: 50%;
    float:left;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 250px; 
    background-color: red;
    border: 1px solid black;
}