body { 
    padding-top: 65px; 
}

.heading {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.logoutclass{
    float: right;
    margin-right:40px;
    font-size: 17px;
}

.lgticon{
    margin-right:10px;
}